*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 20px;
    font-family: "Exo2", sans-serif;
    color: #fff;
    box-sizing: border-box;
}